* {
    margin: 0;
    padding: 0;
}

$spacing: 0.05em;

@font-face {
    font-family: "Poppins-Regular";
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: "Poppins-ExtraBold";
    src: url(../fonts/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: "Poppins-Bold";
    src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: "Poppins-Medium";
    src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: "Poppins-Light";
    src: url(../fonts/Poppins-Light.ttf);
}

body{
    width: 1920px;
    height: 6124px;
    font-size: 16px;
}

.header{
    display: flex;
    justify-self: center;

    a{
        text-decoration: none;
    }
    
    &-nav{
        margin-top: 25px;
        width: 1350px;
        height: 54px;
        display: flex;
        align-items: center;
        
        &-name{
            width: 240px;
            height: 48px;
            align-items: center;

            &-p-Poppins-ExtreBold{
                font-family: 'Poppins-ExtraBold';
                font-size: 2rem;
            }

            &-p-Poppins-Regular{
                font-family: 'Poppins-Regular';
                font-size: 2rem;
                letter-spacing: $spacing;
                color: #444444;
                height: 48px;
            }
        }
    
        &-main-nav{
            margin-left: 25.75em;
            width: 442px;
            height: 24px;
            display: flex;

            a{
                color: #444444;
            }

            li{
                font-family: 'Poppins-Regular';
                font-size: 1rem;
                color: #444444;
                display: inline-block;
                margin-left: 2.8125em;
            }

            .Home{
                font-family: 'Poppins-Bold';
                margin: 0;
            }
        }

        &-search{
            width: 18px;
            height: 18px;
            margin-left: 1.875em;
            margin-right: 1.875em;
        }

        &-payblock{
            width: 178px;
            height: 54px;
            background-color: #444444;
            border-radius: 27px;
            display: flex;
            align-items: center;
            justify-content: center;

            
            font-family: 'Poppins-Medium';
            color: #FFFFFF;
            text-align: center;
        }
    }
}

.main{
    &-container-1{
        width: 1350px;
        height: 699px;
        justify-self: center;
        margin-top: 108px;

        &-2{
            width: 1327px;
            height: 699px;

            display: flex;

            &-text{
                width: 645px;
                height: 439px;
                margin-top: 133px;

                &-h1{
                    font-family: Poppins-Regular;
                    font-size: 52px;
                    line-height: 72px;
                

                    &-Poppins-Bold{
                        font-family: Poppins-Bold;
                        font-size: 52px;
                    }
                }

                &-p-main{
                    width: 645px;
                    height: 72px;
                    margin-top: 15px;

                    font-family: Poppins-Light;
                    font-size: 16px;
                    letter-spacing: $spacing;
                }

                &-p-price{
                    width: 115px;
                    height: 42px;
                    margin-top: 20px;

                    font-family: Poppins-ExtraBold;
                    font-size: 28px;
                }

                &-a-button{
                    display: flex;
                    width: 126px;
                    height: 54px;
                    margin-top: 20px;

                    background-color: #444444;
                    border-radius: 27px;
                    align-items: center;
                    justify-content: center;

                    font-family: Poppins-Medium;
                    font-size: 16px;
                    color: #FFFFFF;
                }
            }

            &-img{
                width: 599px;
                height: 699px;

                background-color: #1b0fbf;
            }
        }
    }
}